.home {
  position: relative;
  z-index: 1;
  margin-top: 32rem;

  @include media('md') {
    margin-top: 0;
  }

  &-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 1794rem;
    height: 878rem;
    background: #01011c;
    border-radius: 50rem;
    overflow: hidden;

    @include media('md') {
      width: calc(100% - 20rem);
      border-radius: 20rem;
    }

    @include media('xs') {
      height: 830rem;
    }

    .bg-img {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      z-index: -1;
    }

    .circle {
      position: absolute;
      top: -76rem;
      left: -130rem;
      width: 530rem;
      height: 530rem;
      border-radius: 100%;
      background: #091d84;
      filter: blur(170px);
      z-index: -1;
    }

    .circle_two {
      position: absolute;
      right: 0;
      bottom: 92rem;
      width: 547rem;
      height: 700rem;
      border-radius: 100%;
      background: #091d84;
      filter: blur(150px);
      z-index: -1;
    }
  }

  &-card {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 797rem;

    @include media('md') {
      bottom: 0;
      width: 640rem;
    }

    @include media('sm') {
      width: 550rem;
      min-width: 550rem;
    }

    @include media('xs') {
      width: 440rem;
      min-width: 440rem;
    }
  }

  &-container {
    padding-top: 78rem;

    @include media('md') {
      padding-top: 20rem;
    }
  }

  h1 {
    font-weight: 700;
    font-size: 82rem;
    color: #f5f5f5;
    max-width: 947rem;

    @include media('md') {
      font-size: 32rem;
    }

    span {
      display: inline;
      background: linear-gradient(180deg, #9fc1ff 0%, #1142ff 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .two_title {
    font-weight: 600;
    font-size: 40rem;
    color: #f5f5f5;
    max-width: 874rem;
    margin: 40rem 0 24rem 0;

    @include media('md') {
      font-size: 24rem;
      margin: 24rem 0 16rem 0;
    }
  }

  .description {
    font-family: $font-Gilroy;
    font-weight: 400;
    font-size: 32rem;
    color: #f5f5f5;
    max-width: 874rem;

    @include media('md') {
      font-size: 18rem;
    }
  }

  .contact-form {
    margin-top: 83rem;

    @include media('md') {
      margin-top: 320rem;
      padding: 24rem 10rem;
      width: calc(100% + 20rem);
      transform: translateX(-10rem);
    }
  }
}
