// investing
.investing {

  &_top {
    position: relative;

    @include media('md') {
      flex-direction: column-reverse;
    }
  }

  &_img {
    position: absolute;
    top: 0;
    left: -186rem;
    width: 843rem;
    height: 894rem;

    @include media('md') {
      position: static;
      width: 100%;
      height: auto;
    }
  }

  &_text {
    display: flex;
    flex-direction: column;
    gap: 60rem;
    max-width: 985rem;
    margin-left: auto;

    @include media('md') {
      gap: 32rem;
    }

    h2 {
      font-weight: 500;
      font-size: 60rem;
      line-height: 170%;
      text-transform: uppercase;
      color: $color-white;

      @include media('md') {
        font-size: 28rem;
      }

      span {
        display: inline;
        background: linear-gradient(180deg, #9fc1ff 0%, #1142ff 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    p {
      font-family: $font-Inter;
      font-weight: 400;
      font-size: 32rem;
      line-height: 144%;
      color: rgba(255, 255, 255, 0.9);

      b {
        font-weight: 700;
      }

      @include media('md') {
        font-size: 18rem;
      }
    }

    blockquote {
      font-family: $font-Inter;
      font-weight: 700;
      font-size: 38rem;
      line-height: 132%;
      text-align: center;
      color: rgba(255, 255, 255, 0.9);
      padding: 24rem 10rem;
      border-radius: 24rem;
      background: linear-gradient(134deg, #1d11c5 0%, #1142ff 100%);

      @include media('md') {
        font-size: 18rem;
        border-radius: 16rem;
        padding: 12rem;
      }

      br {
        @include media('md') {
          display: none;
        }
      }
    }
  }


  &_bottom {
    margin-top: 60rem;

    @include media('md') {
      margin-top: 24rem;
    }

    h3 {
      font-weight: 500;
      font-size: 36rem;
      line-height: 133%;
      text-transform: uppercase;
      color: $color-white;
      margin-bottom: 50rem;
      max-width: 615rem;

      @include media('md') {
        font-size: 32rem;
        margin-bottom: 40rem;
      }

      span {
        background: linear-gradient(180deg, #9fc1ff 0%, #1142ff 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &_blocks {
    display: flex;
    align-items: center;
    gap: 80rem;

    @include media('md') {
      gap: 32rem;
      align-items: start;
      flex-direction: column;
    }
  }

  &_block {
    display: flex;
    align-items: center;
    gap: 24rem;

    @include media('md') {
      gap: 12rem;
    }

    img {
      width: 60rem;
      height: 60rem;
      display: flex;
      flex-shrink: 0;

      @include media('md') {
        width: 32rem;
        height: 32rem;
      }
    }

    span {
      font-weight: 400;
      font-size: 32rem;
      color: $color-white;

      @include media('md') {
        font-size: 20rem;
      }
    }
  }
}
// investing
