// money
.money {
  padding: 100rem 0;
  background-image: url('../images/money_bg.png');
  background-repeat: no-repeat;
  background-size: cover;

  @include media('md') {
    padding: 32rem 0;
    margin: 80rem 0 0 0;
  }

  .container {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(2,1fr);
    gap: 70rem;

    @include media('md') {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &_img {
    overflow: hidden;
    width: 800rem;
    border-radius: 47rem;
    border: 3rem solid rgba(143, 143, 143, 1);

    @include media('md') {
      width: 100%;
      height: 500rem;
      border-radius: 24rem;
    }

    @include media('xs') {
      height: 335rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

      @include media('md') {
        object-position: top center;
      }
    }
  }

  &_text {
    h2 {
      font-weight: 600;
      font-size: 54rem;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      color: #fdfdfd;
      margin-bottom: 60rem;

      @include media('md') {
        font-size: 28rem;
        margin-bottom: 48rem;
      }
    }

    h3 {
      font-family: $font-Inter;
      font-weight: 500;
      font-size: 40rem;
      letter-spacing: -0.06em;
      color: #fff;

      @include media('md') {
        font-size: 24rem;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 32rem;
      padding-left: 64rem;
      margin: 40rem 0;
      position: relative;

      @include media('md') {
        gap: 24rem;
        margin: 24rem 0;
        padding-left: 36rem;
      }

      &::after {
        content: '';
        position: absolute;
        left: 14rem;
        height: calc(100% - 10rem);
        top: 0;
        bottom: 0;
        margin: auto;
        background: $color-white;
        width: 3rem;

        @include media('md') {
          height: calc(100% - 20rem);
        }
      }

      li {
        font-family: $font-Gilroy;
        font-weight: 300;
        font-size: 36rem;
        letter-spacing: -0.06em;
        color: $color-white;
        position: relative;

        @include media('md') {
          font-size: 18rem;
        }

        &::after {
          content: '';
          position: absolute;
          left: -64rem;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 27rem;
          height: 27rem;
          background: linear-gradient(90deg, #FF0000 0%, #C70A0A 100%);
          border-radius: 50%;
          border: 2rem solid $color-white;
          z-index: 2;

          @include media('md') {
            width: 24rem;
            height: 24rem;
            left: -34rem;
          }
        }
      }
    }

    p {
      font-family: $font-Inter;
      font-weight: 300;
      font-size: 28rem;
      letter-spacing: -0.06em;
      color: $color-white;

      @include media('md') {
        font-size: 20rem;
      }
    }

    h4 {
      padding: 18rem 32rem;
      border-radius: 24rem;
      border: 1rem solid $color-white;
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 32rem;
      letter-spacing: -0.02em;
      text-align: center;
      color: #e6e6e6;
      width: max-content;
      margin: 32rem 0 60rem 0;

      @include media('md') {
        font-size: 24rem;
        margin: 32rem 0 48rem 0;
        width: auto;
      }
    }

    .btn-blue {
      width: 320rem;
      height: 72rem;
      font-size: 22rem;
      padding: 10rem;

      @include media('md') {
        width: 100%;
      }
    }
  }
}
// money
