// results
.results {
  &_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60rem;
    gap: 40rem;

    @include media('md') {
      align-items: start;
      flex-direction: column;
      margin-bottom: 40rem;
      gap: 24rem;
    }

    .section_title {
      max-width: 700rem;
    }

    p {
      font-family: $font-Inter;
      font-weight: 400;
      font-size: 32rem;
      color: rgba(255, 255, 255, 0.9);
      max-width: 680rem;

      @include media('md') {
        font-size: 20rem;
      }
    }
  }

  .swiperResults {
    overflow: visible;
  }

  .swiper-slide {
    height: auto;
  }

  .swiper-wrapper {
    height: auto;
  }

  &_block {
    border-radius: 30rem;
    border: 1rem solid #818181;
    overflow: hidden;
    height: 100%;
    background: #101010;

    @include media('md') {
      border-radius: 16rem;
    }

    &-img {
      height: 400rem;
      position: relative;
      overflow: hidden;
      z-index: 1;
      border-radius: 25rem;
      border: 2rem solid #1142FF;

      @include media('xs') {
        height: 200rem;
        border-radius: 16rem;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
      }

      img {
        width: 100%;
        height: 100%;
        object-position: left center;
        object-fit: cover;
      }

      &::after {
        border-radius: 25rem;
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        border: 2rem solid transparent;
        background: linear-gradient(138.86deg, #FFFFFF 0.53%, rgba(119, 119, 119, 0.2) 99.47%);

        @include media('md') {
            border-radius: 24rem;
        }
      }

    }

    &-text {
      padding: 40rem 10rem 24rem 10rem;
      min-height: 210rem;

      @include media('md') {
        padding: 24rem 10rem;
      }

      h3 {
        font-weight: 400;
        font-size: 32rem;
        letter-spacing: -0.06em;
        color: #fdfdfd;
        margin-bottom: 24rem;

        @include media('md') {
          margin-bottom: 16rem;
        }
      }

      p {
        font-family: $font-Gilroy;
        font-weight: 300;
        font-size: 24rem;
        letter-spacing: -0.02em;
        color: #ebebec;
      }
    }

  }

  &_btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60rem;

    @include media('md') {
      margin-top: 30rem;
    }

    .btn_prev {
      img {
        transform: rotate(180deg);
      }
    }

    .btn {
      opacity: 60%;
      width: 135rem;
      height: 135rem;
      border-radius: 50%;
      background: linear-gradient(180deg, #9FC1FF 0%, #1142FF 100%);
      display: flex;
      align-items: center;
      justify-content: center;

      @include media('md') {
        width: 60rem;
        height: 60rem;
      }

      img {
        width: 32rem;
        height: 56rem;

        @include media('md') {
          width: 14rem;
          height: 28rem;
        }
      }
    }

    .swiper-button-disabled {
      opacity: 0;
    }
  }
}
// results
