// video
.video {
  .section_title {
    max-width: 950rem;
    margin-bottom: 60rem;
    font-weight: 400;

    @include media('md') {
      margin-bottom: 40rem;
    }
  }

  .swiperVideo {
    overflow: visible;
  }

  &_block {
    height: 440rem;
    display: flex;
    border: 1rem solid #818181;
    border-radius: 24rem;

    @include media('md') {
      flex-direction: column;
      height: auto;
    }

    &-img {
      width: 542rem;
      border-radius: 24rem;
      border: 2rem solid #1142FF;
      overflow: hidden;
      position: relative;

      @include media('md') {
        width: 100%;
        height: 270rem;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
      }

      .play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        width: 100rem;
        height: 100rem;
        border-radius: 50%;
        background: linear-gradient(180deg, #9FC1FF 0%, #1142FF 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        opacity: 60%;

        @include media('md') {
          width: 60rem;
          height: 60rem;
        }

        svg {
          width: 40rem;
          height: 40rem;

          @include media('md') {
            width: 24rem;
            height: 24rem;
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
      }
    }

    &-text {
      padding: 50rem 20rem 50rem 40rem;

      @include media('md') {
        padding: 24rem 10rem;
      }
    }
  }

  h3 {
    font-weight: 400;
    font-size: 32rem;
    letter-spacing: -0.06em;
    color: #fdfdfd;

    @include media('md') {
      font-size: 20rem;
    }
  }

  ul {
    margin: 20rem 0;
  }

  li,p {
    font-family: $font-Gilroy;
    font-weight: 300;
    font-size: 24rem;
    letter-spacing: -0.02em;
    color: #ebebec;

    @include media('md') {
      font-size: 18rem;
    }
  }

  .btn-blue {
    display: flex;
    gap: 10rem;
    font-size: 18rem;
    font-weight: 500;
    width: 280rem;
    height: 60rem;
    padding: 10rem 24rem;
    margin-top: 40rem;

    @include media('md') {
      width: 100%;
      margin-top: 24rem;
    }

    svg {
      display: flex;
      flex-shrink: 0;
      width: 24rem;
      height: 24rem;
    }
  }

  &_btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60rem;

    @include media('md') {
      margin-top: 30rem;
    }

    .video_prev {
      img {
        transform: rotate(180deg);
      }
    }

    .btn {
      opacity: 60%;
      width: 135rem;
      height: 135rem;
      border-radius: 50%;
      background: linear-gradient(180deg, #9FC1FF 0%, #1142FF 100%);
      display: flex;
      align-items: center;
      justify-content: center;

      @include media('md') {
        width: 60rem;
        height: 60rem;
      }

      img {
        width: 32rem;
        height: 56rem;

        @include media('md') {
          width: 14rem;
          height: 28rem;
        }
      }
    }

    .swiper-button-disabled {
      opacity: 0;
    }
  }
}
// video
